<p id="notice"><%= notice %></p>

<%= image_tag @room.image_path %>
<p>
  <strong>Title:</strong>
  <%= @room.title %>
</p>

<p>
  <strong>Image path:</strong>
  <%= @room.image_path %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
